<?xml version='1.0'?>
<launch>

	<!-- 将joint_controller的配置从yaml文件加载到参数服务 -->
	<rosparam file="$(find racecar_control)/config/racecar_control.yaml" command="load" />

	<!-- 加载controllers，左后、右后、左前、右前的速度控制，前轮左舵机、右舵机的角度控制 -->
	<node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/racecar" args="left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller
                                            left_front_wheel_velocity_controller right_front_wheel_velocity_controller
                                            left_steering_hinge_position_controller right_steering_hinge_position_controller
                                            joint_state_controller" />

	<!-- TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/racecar/joint_states" />
	</node>

	<!-- 控制脚本 -->
	<node pkg="racecar_control" type="servo_commands.py" name="servo_commands" output="screen">
		<!-- servo_commands.py -->
		<remap from="/racecar/ackermann_cmd_mux/output" to="/vesc/low_level/ackermann_cmd_mux/output" />
	</node>

	<!-- ODOMETRY -->
	<include file="$(find racecar_gazebo)/launch/rf2o.launch" />

	<!-- Robot_Localization -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
		<rosparam command="load" file="$(find racecar_gazebo)/config/ekf_params.yaml" />
	</node>
	<node name="better_odom" pkg="topic_tools" type="relay" args="/odometry/filtered /odom" />

	<!-- Allow for Gazebo to broadcast odom -->
	<!--node pkg="racecar_gazebo" type="odom_basefootprint_trans.py" name="odom_basefootprint_trans" output="screen"/-->

	<!-- amcl -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find racecar_gazebo)/config/amcl_params.yaml" command="load" />
		<param name="initial_pose_x" value="0.0" />
		<param name="initial_pose_y" value="5.0" />
		<param name="initial_pose_a" value="0.0" />
	</node>

</launch>